.season-selector {
    height: 78%;
    width: 15%;
    position: absolute;
    left: 0;
}

.list {
    overflow: hidden;
    overflow-y: scroll;
}

.episode-selector {
    height: 78%;
    width: 80%;
    position: absolute;
    right: 0;
    font-size: 1.3em;
}

body {
    margin: 0;
    padding: 0;
    background: #4b4d4e;
    color: #000;
    font: 16px "Source Sans", helvetica, arial, sans-serif;
    font-weight: 400;
}

.line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.download-checkbox {
    position: absolute;
    margin-left: 7.5em;
    margin-top: 0.55em;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
}

.navigation {
    position: absolute;
    left: 20%;
    bottom: 2%;
}